/* --------------
 * Variable declarations
 * -------------- */

:root {
  --primary-text-color: #fff;
  --highlight-text-color: rgb(10, 138, 101);

  --primary-color: rgb(13, 189, 139);
  --secondary-color: #e9e9e9;
  --background-color: #f6f6f6;

  --primary-highlight-color: rgb(9, 153, 112);
  --secondary-highlight-color: #9c9c9c;

  --banner-height: 450px;
}

/* --------------
 * Global styles
 * -------------- */

body {
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Cantarell", "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  background-color: var(--background-color);
  margin: 0;
}

/* --------------
 * Typography
 * -------------- */

h1,
h2 {
  margin: 0;
}

a {
  color: var(--highlight-text-color);
}


.card {
  color: var(--primary-text-color);
}

.card:hover {
  opacity: .85;
  background-color: var(--background-color);
}

 /* Banner */

.banner h1 {
  font-size: 2.1rem;
  font-weight: 500;
}

 /* Content */

#content {
  padding: 1.5em 2em;
}

#content p {
  text-align: justify;
  line-height: 1.7em;
  color: #394252;
}

#content h1,
#content h2 {
  color: #121720;
}

#content h1 {
  font-size: 40px;
  font-weight: 800;
}

#content img,
#content video {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

#content .warning p {
  color: white;
  font-size: 18px;
  hyphens: auto;
  text-align: center;
}

/* --------------
 * Grid layout
 * -------------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 2em;
  grid-template-areas:
    'left center right';
}

.grid-left {
  grid-area: left;
  width: auto;
  height: auto;
  overflow-y: auto;
}

.grid-center {
  grid-area: center;
  width: auto;
  height: auto;
  overflow-y: auto;
  padding: 0 2em;
}

.grid-right {
  grid-area: right;
  width: auto;
  height: auto;
  overflow-y: auto;
}

/* --------------
 * Components
 * -------------- */

 /* Topnav */

.topnav {
  display: flex;
  width: 100%;
  height: auto;
  background-color: var(--primary-color);

  font-weight: bold;
}

.topnav img {
  max-height: 2em;

  margin-top: -25%;
  margin-bottom: -35%;
  margin-left: -.2em;
}

.topnav ul {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.topnav .right-bound {
  margin-left: auto;
}

.topnav li {
  list-style-type: none;
  margin: 1em 1.5em;
  cursor: pointer;
}

.topnav a {
  text-decoration: none;
  color: var(--primary-text-color);
}

 /* -- Banner -- */

.banner {
  position: relative;
  width: 100%;
  overflow-y: hidden;
  max-height: var(--banner-height);
}

.banner img {
  width: 100%;
  opacity: 0.7;
}

.banner .container {
  text-align: center;

  padding: 2em 3em;

  /* centered position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.banner .background {
  width: 100%;
  height: var(--banner-height);
}

 /* -- Buttons -- */

.button {
  color: #000;
  background-color: var(--secondary-color);

  padding: 1em;
  margin: .5em;

  display: inline-block;
  cursor: pointer;

  text-align: center;
  font-weight: 600;
  text-decoration: none;
}

 /* -- Warning Box -- */

.warning {
  background-color: rgb(226, 56, 78);
  border: 2px solid rgb(186, 20, 41);

  padding: 1em 2em;
  margin-bottom: 2em;
}

/* --------------
 * single property classes
 * -------------- */

.primary {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.bg {
  background-color: var(--background-color);
}

.shadow {
  -webkit-box-shadow: rgba(0,0,0,0.25) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.25) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.25) 0px 1px 3px;

}

.rounded {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.right {
  float: right;
}

.left {
  float: left;
}

.fw-800 {
  font-weight: 800;
}
