<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <!-- site title -->
    <title>{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</title>
    <!-- favicon -->
    {{ with .Site.Params.favicon }}
      <link rel="icon" href="{{ . | absURL }}" type="image/png; charset=binary" />
    {{ end }}
    <!-- metadata -->
    {{ with .Site.Params.description }}
      <meta name="description" content="{{ . }}" />
    {{ end }}
    {{ with .Site.Params.meta.keywords }}
      <meta name="keywords" content="{{ . }}" />
    {{ end }}
    <!-- no robots -->
    {{ with .Params.meta.robots_no_index }}
      <meta name="robots" content="noindex" />
    {{ end }}
    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="{{ "/fonts/fontawesome/css/all.css" | absURL }}">
    <!-- css sheets -->
    <link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | absURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "/css/mobile.css" | absURL }}">
    <!-- custom css -->
    {{ range .Site.Params.custom_css }}
      {{ if findRE "https?://" . }}
          <link rel="stylesheet" href="{{ . }}">
      {{ else }}
          <link rel="stylesheet" href="{{ . | absURL }}">
      {{ end }}
    {{ end }}
    <!-- (local) custom head partial -->
    {{- partial "custom_head.html" . -}}
</head>
