{{ $currentPage := . }}
{{ if (or (.Site.Menus.main) (.Site.Menus.mainRight) ) }}
<div class="topnav">
  <ul>
    {{ range .Site.Menus.main }}
    <li>
      <a
        {{ with .Params.class }} class="{{ . }}"{{ end }}
        href="{{ .URL }}"
      >
        {{ .Pre }}
        {{ .Name }}
      </a>
    </li>
    {{ end }}
  </ul>
  <ul class="right-bound">
    {{ range .Site.Menus.mainright }}
    <li>
      <a
        {{ with .Params.class }} class="{{ . }}"{{ end }}
        href="{{ .URL }}"
      >
        {{ .Pre }}
        {{ .Name }}
      </a>
    </li>
  {{ end }}
  </ul>
</div>
{{ end }}
